<ul>
    <li *ngFor="let user of userList">
        <img [src]="defaultUserImage" [alt]="user.name" />
        <div class="content">
          <div class="name">{{ user.name }}</div>
          <div class="product-item-footer">
            <div class="origins">
              <span>{{ user.address }}</span>
            </div>
          </div>
          <div class="email">
            <span>📧</span>
            {{ user.email }}
          </div>
        </div>
        <button class="role" (click)="changeRole(user.id)" [ngClass]="user.isAdmin ? 'admin' : 'user'">
          <span>{{ user.isAdmin ? 'Admin' : 'User' }}</span>
        </button>
    </li>
  </ul>